<div class="row align-self-auto mt-5">
    <div class=" p-3 border-warning border-bottom border-top mt-4 offset-3 col-6 d-flex flex-row text-warning">
        <img src="~/Content/img/ico/info.png" style="height:60px;" class="align-self-center ml-2" />
        <h3 id="usrs" class="ml-3">Zero items matching your request have been found.</h3>
    </div>

</div>


