
*.mdf
CarRental/.vs/CarRental/v16/.suo
*.mdf
CarRental/CarRental.WEB/App_Data/CarRental_log.ldf
*.dll
*.mdf
*.dll
*.dll
CarRental/CarRental.WEB/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CarRental/.vs/CarRental/v16/.suo
CarRental/CarRental.BLL/bin/Debug/CarRental.BLL.dll
*.dll
*.pdb
*.dll
*.pdb
*.cache
*.dll
*.pdb
*.cache
*.dll
*.cache
*.pdb
*.ldf
*.mdf
