

<div class="row align-self-center mt-5">
    <div class="d-flex justify-content-center align-self-auto bg-warning p-3  border-danger rounded mt-4 offset-3 col-6 d-flex flex-row text-dark">
        <img src="~/Content/img/ico/cart.png"  style="height:60px;" class="align-self-center ml-2" />
        <h3 id="usrs" class="ml-3 align-self-center">Your order list is Currently Empty</h3>
    </div>

</div>
