@model CarRental.WEB.Models.CarsListViewModel
@using CarRental.WEB.Helpers
<div class="">
    <div class="float-left ">
        <div class="icon-menu border p1 ">
            <span class="divide"></span>
            <span class="divide"></span>
            <span class="divide"></span>

        </div>
    </div>
    @using (Ajax.BeginForm("CarSearch", "SideSearch", new AjaxOptions { UpdateTargetId = "car_area" }))
    {
        <div class="offset-6 col-4">

            <select id="sorting" class="custom-select">              
                    <option disabled>Sort</option>             

                @foreach (var e in ViewBag.Sort)
                {
                    if (ViewBag.s == e)
                    {
                        <option selected value=@e>@e</option>
                    }
                    else
                    {
                        <option value=@e>@e</option>
                    }
                }
            </select>

        </div>


    }
</div>
<div class=" " id="car_area">

        <div class="flex-row flex-wrap d-flex justify-content-center">

            @foreach (var c in Model.Cars)
            {
                @Html.Partial("CarCard", c);
            }
        </div>
        <div class="fixed-top text-center  row">
            <div class="col-2 offset-5 bg-success rounded-lg rounded-bottom " id="ph_numb">
                <img src="~/Content/img/ico/phone.png" alt="Ph" style="width:20px;" class="mb-1 mr-1" />
                099-660-25-10
            </div>
        </div>
        <div id="back-to-top">

            <i class=""><img alt="TOP" src="~/Content/img/ico/icon_top.png" /></i>

        </div>

        <div class="clearfix"></div>
        <div class="text-center mt-2 paginat">

            @Html.PageLinks(Model.PagingInfo, x => Url.Action("", new { page = x }))
        </div>
</div>
<script>
    $(document).ready(function () {
        $(".paginat").find("a").click(function (e) {
            e.preventDefault();
            var a = $(this).attr("href").replace(/[^\d.]/g, '');
            var p = $("#Page").val(a);
            $("#Page").replaceWith(p);
            var a = parseInt(a);
            
            $("#sbm").click();

        });
        $('.carousel').carousel({
            interval: false
        });
        $('.icon-menu').click(function (event) {
            $('.sidebar').toggleClass('active');
            $('.content').toggleClass('blur-car-area');
            $('#burger').toggleClass('d-none');
        });
    });
    var limit = $(window).height() / 3,
        $backToTop = $('#back-to-top');

    $(window).scroll(function () {
        if ($(this).scrollTop() > limit) {
            $backToTop.fadeIn();
        } else {
            $backToTop.fadeOut();
        }
    });

    // scroll body to 0px on click
    $backToTop.click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 1500);
        return false;
    });

    

</script>