body,html {
    height: 100%;
    min-height: 100%;
    
}
#wrapper {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 50px; /* this needs to be bigger than footer height*/
}
#footer {
    position: relative;
    margin-top: -50px; /* negative value of footer height */
    height: 60px;
    clear: both;
    padding-top: 20px;
} 

/* Set padding to keep content from hitting the edges */
.body-content {
  
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
navbar{
    background-color:white;
}
/*Sidebar Styles*/

/*Home index styles*/
.sign{
    height:20px;
    width:20px;
}
.sign_cap{
    font-size:12px;
    font-weight:bold;
}
.pr_table *{
    font-size:12px;
    padding:0;
}
.pr_table th, .pr_table td {
    padding: 5px;
}
.pr_tabble_btn {
    font-size: 12px;
    width: 120px;
    height: 50px;
    padding-top: 15px;
}



