
<div class="d-flex justify-content-center flex-wrap">

    <div>
        <img alt="Car immage" style="max-width:400px; max-height:400px;" src="~/Content/img/cars/@ViewBag.Name" />
        <input type="hidden" name="@ViewBag.Image" value="/Content/img/cars/@ViewBag.Name" />
    </div>

</div>


