@{
    ViewBag.Title = "Finish registration";
}
<div class="row">
    <div class="col-6 offset-3 mt-3 border border-success rounded bg-light m-0">
       <div class="bg-success text-white"><h2>You have been successfully registrated.</h2></div> 
        <p class="font-weight-bold">Use your login and password to log in our website</p>
    </div>
</div>

