@using CarRental.BLL
@{
    ViewBag.Title = "Finish registration";
}

<div class="row">
    <div class="col-6 offset-3 mt-3 border border-success rounded bg-light m-0">
       <div class="bg-success text-white"><h2>@Resource.SuccessfullyRegistered.</h2></div> 
        <p class="font-weight-bold">@Resource.UseLoginPassword</p>
    </div>
</div>

