<div class="row mt-2">
    <div class="col-6 offset-3">
        <h3>Your order list is Currently Empty</h3>
        <img src="~/Content/img/ico/cart.png" style="width:220px;" class="text-center" />

    </div>
</div>


