<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <config>
    <!-- Defines a common package repository for all solutions -->
    <add key="repositoryPath" value=".\Packages" />
  </config>
</configuration>